<div class="ui grid">
    <div class="four wide column">
        <div class="ui left fixed vertical menu" style="margin-top:60px">
          <div class="item">
            <img class="ui image" src="https://cdn.pixabay.com/photo/2018/06/17/17/00/yacht-3480913__340.jpg" width="170px">
            <a class="item" href="/dashboard"><h4 style="text-align:center"><%= currentUser.username %></h4></a>
          </div>
          <a class="item" href="/dashboard/gallery" style="color:#490707">Gallery</a>
          <a class="item" href="/dashboard/myteams" style="color:#490707">My teams</a>
          <a class="item" href="/dashboard/schedule" style="color:#490707">Schedule</a>
        </div>
    </div>

