<html>
    <head>
        <title>Sports</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css" rel="stylesheet">

    </head>
    <body>
        <div class="ui menu">
            <div class="ui container">
                <div class="header item" style="font-size:20px">
                    <i class="football ball icon"></i>Sports
                 </div>
                <div class="right menu" style="font-size:15px">
                    <a class="item" href='/'>
                            Home
                          </a>
                        <a class="item" href='/login'>
                            Login
                          </a>
                        <a class="item" href="/signup">
                            Signup
                         </a>      
                 </div>
            </div>
        </div>
        <div class="ui container">
            <h2>My First Complete web development Project</h2>
            <h3>Technologies Used</h3>
            <ul>
            <li>Express</li>
            <li>MongoDB</li>
            <li>NodeJs</li>
            <li>EJS</li>
            </ul>
            <p>Developed By :- Anshul Gangwar</p>
        </div>
    </body>
</html>