<% include partials/header %>
<%include partials/sidebar %>
    <div class="twelve wide column">
        <h2 style="margin-top:40px"><i class="address card icon" style="color:#ac1010"></i>Dashboard:-</h2>
        <div style="margin-top:30px">
            <h3 style="color:#490707"><i class="users icon" style="color:#ac1010"></i>Team</h3>
            <a href="/dashboard/newteam"><button class="ui left attached button" style="margin-right:20px">New Team</button></a>
            <a href="/dashboard/myteams"><button class="right attached ui button">Show Teams</button></a>
        </div>
        <hr style="margin-right:400px;margin-top:30px">
        <div style="margin-top:30px">
            <h3 style="color:#490707"><i class="images icon" style="color:#ac1010"></i>Gallery</h3>
            <a href="/dashboard/gallery/newmemory"><button class="ui left attached button" style="margin-right:20px">New Memory</button></a>
            <a href="/dashboard/gallery"><button class="right attached ui button">Show Memory</button></a>
        </div>
        <hr style="margin-right:400px;margin-top:30px">
        <div style="margin-top:30px">
            <h3 style="color:#490707"><i class="calendar check icon" style="color:#ac1010"></i>Schedule</h3>
            <a href="/dashboard/schedule/newschedule"><button class="ui left attached button" style="margin-right:20px">New Schedule</button></a>
            <a href="/dashboard/schedule"><button class="right attached ui button">Show Schedules</button></a>
        </div>
    </div>
</div>
<% include partials/footer %>