<html>
    <head>
        <title>Sports</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,500,500i,700|Pacifico|Wendy+One" rel="stylesheet">
        <link href="stylesheets/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <div class="ui secondary  menu ">
                <div class="ui container">
                    <div class="ui item logo">
                        <a href="/"><i class="football ball icon"></i>Sports</a>
                      </div>
                        <div class="right menu">
                            <div class="ui item">
                                <a href="/about" class=" nav">About</a>
                            </div>
                            <div class="ui item">
                              <a href="/signup" class=" nav">SignUp</a>
                            </div>
                            <div class="ui item" >
                              <a href="/login" class=" nav">Login</a>
                            </div>
                        </div>
                </div>
            </div>
            <div class="container">
                <div class="home-banner">
                <p><span>T</span>he most affordable software for</p>
                 <p>  all sports organizations.</p>
                 <div class="ui labeled button" tabindex="0">
                  <div class="ui basic red button">
                    <i class="file alternate icon"></i> Know 
                  </div>
                  <a href="/about" class="ui basic left pointing white label">
                      More!
                  </a>
                </div>
            </div>
            </div>
        </div>
        
        <!--Feature section-->
        
        <section class="feature">
            <h2 class="animated  tada">Our Features</h2>
            <div class="ui three column stackable grid">
                 <div class="row">
                    <div class="column">
                        <i class="user icon"></i>
                        <h3 class="animated bounce">Member Profiles</h3>
                        <p>Manage team roster and member profiles easily. Get all contact information
                        in one place for better communication. Print roster for registrations (tournaments etc.).</p>
                    </div>
                    <div class="column">
                        <i class="calendar alternate icon"></i>
                        <h3 class="animated bounce">Team Schedule</h3>
                        <p>View all events for a single or multiple teams in one calendar. Synchronize
                        calendars with mobile devices. Optionally, use event rosters and save time and
                        confusion</p>
                    </div>
                    <div class="column">
                        <i class="id card icon"></i>
                        <h3 class="animated bounce">Dashboard</h3>
                        <p>Our dashboard make your life much more simpler.It can help you manage your different teams and it's players.
                        You can even upload your game memories and watch them later on.
                        </p>
                    </div>
                </div>
            </div>    
        </section>
        
        <!--sport section-->
        
        <section class="sport">
            <h2>Sports We Offer!</h2>
            <div class="ui stackable three column grid">
              <div class="column">
                <div class="ui segment">
                  <img src="https://cdn.pixabay.com/photo/2012/11/28/11/11/quarterback-67701__340.jpg" width="350px" height="300px">
                </div>
              </div>
              <div class="column">
                <div class="ui segment">
                  <img src="images/2.jpg" width="350px" height="300px">
                </div>
              </div>
              <div class="column">
                <div class="ui segment">
                  <img src="images/3.jpg" width="350px" height="300px">
                </div>
              </div>
            </div>
        </section>
        <!-- Contact Us-->
        <section class="contact">
            <h2>Contact Us</h2>
            <div class="feature-row">
                <form action="#" class="contact-form">
                    <div class="feature-row">
                        <div class="col span-1-of-3">
                            <label for="name">Name</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="text" name="name" id="name" placeholder="Enter your name" required>
                        </div>
                    </div>
                    <div class="feature-row">
                        <div class="col span-1-of-3">
                            <label for="email">Email</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="email" name="email" id="email" placeholder="your email" required>
                        </div>
                    </div>
                    <div class="feature-row">
                        <div class="col span-1-of-3">
                            <label >How did you find us?</label>
                        </div>
                        <div class="col span-2-of-3">
                            <select name="find-us" id="find-us">
                                <option value="Friend">friend</option>
                                <option value="internet">Internet</option>
                                <option value="Ad">Advertisement</option>
                            </select>
                        </div>
                    </div>
                    <div class="feature-row">
                        <div class="col span-1-of-3">
                            <label >Newsletter</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="checkbox" name="check" id="news" checked>Yes Please
                        </div>
                    </div>
                    <div class="feature-row">
                        <div class="col span-1-of-3">
                            <label >Drop us a line</label>
                        </div>
                        <div class="col span-2-of-3">
                           <textarea name="message" placeholder="Your Message"></textarea>
                        </div>
                    </div>
                   <div class="feature-row">
                        <div class="col span-1-of-3">
                            <label >&nbsp;</label>
                        </div>
                        <div class="col span-2-of-3">
                           <input type="submit" value="send it!">
                        </div>
                    </div>
            </form>
        </div>
        </section>
        <!--Developers section-->
        <section class="dev">
            <h2>Developer</h2>
              <div class="dev-image">
                <img src="images/profile.jpg" width="300px" height="300px">
              </div>
              <div class="dev-content">
                <h3 class="dev-header">Anshul Gangwar<span>Web Developer</span></h3>
              </div>
        </section>
        <footer>
            <h3><i class="football ball icon"></i>Sports</h3>
            <p>&copy 2018 Sports</p>
        </footer>
    </body>
</html>