 <html>
    <head>
        <title>Sports</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="ui menu">
            <div class="ui container">
                <div class="header item" style="font-size:20px">
                    <i class="football ball icon"></i>Sports
                 </div>
                <div class="right menu" style="font-size:15px">
                    <a class="item" href='/'>
                            Home
                          </a>
                        <a class="item" href='/about'>
                            About Us
                          </a>
                        <a class="item" href="/login">
                            Login
                         </a>      
                 </div>
            </div>
        </div>
        <div class="ui main text container segment" style="margin-top:50px;margin-right:100px;width:500px">
                <h1 class="ui huge header" style="">SignUp new User</h1>
                <form class="ui large form" action="/signup" method="POST" >
                      <div class="ui stacked segment">
                        <div class="field">
                          <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" placeholder="username" name="username" required>
                          </div>
                        </div>
                        <div class="field">
                          <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" placeholder="password" name="password" required>
                          </div>
                        </div>
                        <button class="ui fluid large teal submit button" type="submit">SignUp</button>
                      </div>
                </form>
                 <div class="ui message">
                  Already a user? <a href="/login">Login</a>
                </div>
        </div>
    </body>
</html>
        
        
        
        <!--<div class="ui menu">-->
        <!--    <div class="ui container">-->
        <!--        <div class="header item">-->
        <!--            <a href="/"><i class="football ball icon"></i>Sports</a>-->
        <!--         </div>-->
        <!--        <div class="right menu">-->
        <!--                <a class="item" href='/about'>-->
        <!--                    About Us-->
        <!--                  </a>-->
        <!--                <a class="item" href="/login">-->
        <!--                    login-->
        <!--                 </a>      -->
        <!--         </div>-->
        <!--    </div>-->
        <!--</div>-->
        <!--<section class="signup">-->
        <!--    <div class="ui container">-->
        <!--        <div class="ui raised segment">-->
        <!--            <h2>Signup Form</h2>-->
        <!--            <form action="/signup" method="POST">-->
        <!--                <div class="ui form">-->
        <!--                  <div class="field">-->
        <!--                    <label>Username</label>-->
        <!--                    <input type="text" placeholder="username" name="username" required>-->
        <!--                  </div>-->
        <!--                  <div class="field">-->
        <!--                    <label>Password</label>-->
        <!--                    <input type="password" placeholder="password" name="password" required>-->
        <!--                  </div>-->
        <!--                  <div class="field">-->
        <!--                      <input type="submit">-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--            </form>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</section>-->
    </body>
</html>